extends layout
block content
    section#flavourText.textBox.regText
        h1 Introduction and Background
        hr
        p
            | EvilCorp is a multinational conglomerate; a company that sells itself as the end all and be all
            | solution for the world's problems. In EvilCorp's infancy, the company attempted to operate to
            | this ideal, however once publicly floated on the stock exchange, the company was forced to turn
            | to making a profit and nothing more.
        p
            | While pretending to still have lofty goals, the company must privately make as much profit, as
            | efficiently as possible.
        p
            | Your role, as a cog in the EvilCorp machine is to observe the blocks of incoming revenue.  When
            | the opportunity presents itself, if you can line up the revenue in an efficiently sneaky manner
            | it can be stashed in an offshore tax haven as profit that can never be used to improve the quality
            | of the products and services provided by EvilCorp.
        p
            | If you can't stash the revenue it becomes public and must be presented as operating costs.
            | If this revenue overflows the public perception of operating costs, you will be investigated
            | and shut down for fraud.
        p
            a(href='/game')
                | So get to hiding that revenue and boosting your private profits!
        p
            a(href='/rules') Read the Rules.