extends layout
block content
    section#biographies.textBox.regText
        h1  Developer Information
        h2  Pradyumn Vij
        p
            | While not wondering why I find implmementing the MEAN (minus the Angular) stack
            | so difficult, I wonder who thought it would be a good idea to run the entire
            | backend on the flimsy language that is JavaScript.
        p
            | On days when I coem to terms with not being able to change the matter of the world
            | I often relapse wondering how cancerous Node is, the only driving force being a
            | mob like mentality.
        p
            | In pondering the above thoughts he remembers the first website I made, I wrote it
            | in Windows Notepad and uploaded it to my ISP's server and could access it with any
            | browser and it looked better than most other sites on the Internet at the time.
            | With the current state of publishing on the World Wide Web, the average user can no
            | longer express themselves easily while also writing their own site and have to use
            | the stupid infrastructure provided by 3rd party vendors such as scoial media outlets
            | and blog sites.
        p
            | When not getting my soul crushed by Dr. Tim French's assignments I enjoy coding other
            | units assignments and competitive programming where I get my ass handed to me by people
            | who have been programming for a decade longer than I have. With developer positions
            | being taken by these gifted individuals I wonder if I will end up doing Web Development
            | and be stuck in this unennding hell for hte rest of my life.
        p
            | TLDR: We should replace the MEAN stack with Firebase, use sensible computer languages
            | on servers and start using newer general purpose programming languages.