doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Stash EvilCorp's Cash - Intro
        link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Roboto:500,900,700,500italic')
        link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/mainStyle.css')
        script(src='/javascripts/mainScript.js')
    body
        header#pageHeader.pageHeader
            #gameTitle
                a.titleText(href='/game') Fill EvilCorp's Pocket
            nav#pageNavigation.pageNavigation.navText
                ul#navList.navList
                    li#burgerIcon.burgerIcon
                        a#menuButton.menuButton.titleText(href='#') ☰
                    - if (signedIn){
                        li
                            a.navText(href='/user/logout') Log Out
                    - } else {
                        li
                            a.navText(href='/user/register') Register
                        li
                            a.navText(href='/user/login') Log In
                    - }
        // Primary section of website, wrapped to allow for menu Operation
        section#overallWrap.overallWrap
            // Area for Canvas to be placed
            section#gameArea.gameArea
                block content
            footer#pageFooter.pageFooter
                ul#socialMedia.pageFooterList
        // Right Pushing Menu
        // Mask for background when menu pushes
        section#mask.mask
        block script
        menu#pushMenu.pushMenu
            li
                a.navText(href='/game') Play the Game!
            li
                a.navText(href='/scoreboard') Scoreboard
            li
                a.navText(href='/comments/all') Comments
            li
                a.navText(href='/background') Introduction and Background
            li
                a.navText(href='/rules') Rules and Scoring
            li
                a.navText(href='/design') Design Challenges
            li
                a.navText(href='/bios') Biography
            li
                a.navText(href='/references') References
            - if (signedIn){
            li
                a.navText(href='/user/logout') Log Out
            - } else {
            li
                a.navText(href='/user/register') Register
            li
                a.navText(href='/user/login') Log In
            - }