extends layout
block errs
    - each i in messages
        div.flash= messages[i]
block content
    section#login.textBox.regText
        //h1 Login
        //p Try and get that promotion by showing off how much cash you've stashed!
        //br
        form(role='form', action='/login' method='post')
            h1 Login
            p Try and get that promotion by showing off how much cash you've stashed!
            //  name refers to the user field
            //label Username:
            br
            input#username(type='text' name='username' placeholder='Employee Name' required autofocus)
            //label Password:
            br
            input#password(type='password' name='password' placeholder='Password')
            br
            button(type='submit') Log In

