extends layout
block content
    section#login.textBox.regText
        h1 Login to start Stashing Cash
        p Try and get that promotion by showing off how much cash you've stashed!
        br
        - if (typeof error != 'undefined'){
            p
                span.errorRed=error
        - }
        form(action='/user/login' method='post')
            div.form-group
                label(for='username') EvilCorp Employee Name
                input.form-control.userInput(type='text', name='username', placeholder='EvilCorp Employee 001', autofocus)
            div.form-group
                label(for='password') Password
                input#password.form-control.userInput(type='password', name='password', placeholder='monkey123')
            button.btn.btn-default.btn-lg.btn-block(type='submit') Log In
            br
            | or
            br
            a(href='/user/register') Register with EvilCorp before logging in to participate in white collar crime.
