extends layout
block content
    section#references.textBox.regText
        h1 References
        ul.reflist
            li
                | Behnke D. (2008, August 17). Windows Tetris. Retrieved from
                a(href='http://wintris.codeplex.com/SourceControl/latest#Tetris.cpp')
                    |  http://wintris.codeplex.com/SourceControl/latest#Tetris.cpp
            li
                | Bos, W. (n.d.). Javascript Event KeyCodes. Retrieved from
                a(href='http://keycode.info/')
                    |  http://keycode.info/
            li
                | Brežnjak, N. (2015, February 15). MongoDB CRUD the MVC way with Passport Authentication. Retrieved from
                a(href='https://hackhands.com/mongodb-crud-mvc-way-with-passport-authentication/')
                    |  https://hackhands.com/mongodb-crud-mvc-way-with-passport-authentication/
            li
                | Buecheler, C. (2015, September 2). THE DEAD-SIMPLE STEP-BY-STEP GUIDE FOR FRONT-END DEVELOPERS TO GETTING UP AND RUNNING WITH NODE.JS, EXPRESS, JADE AND MONGODB. Retrieved from
                a(href='http://cwbuecheler.com/web/tutorials/2013/node-express-mongo/')
                    |  http://cwbuecheler.com/web/tutorials/2013/node-express-mongo/
            li
                i Can I use...
                |  (2015, May 12). Retrieved from
                a(href='http://caniuse.com/')
                    |  http://caniuse.com/
            li
                | Coleman, K. (2015). How to Create a Complete Express.js + Node.js + MongoDB CRUD and REST Skeleton. Retrieved from
                a(href='https://www.airpair.com/javascript/complete-expressjs-nodejs-mongodb-crud-skeleton')
                |  https://www.airpair.com/javascript/complete-expressjs-nodejs-mongodb-crud-skeleton
            li
                | Coles P. (2014). Tetris - HTML5 - Peter Coles. Retrieved from
                a(href='http://mrcoles.com/tetris/')
                    |  http://mrcoles.com/tetris/
            li
                | Coyier, C. (2013, June 8). Using requestAnimationFrame. Retrieved from
                a(href='https://css-tricks.com/using-requestanimationframe/')
                    |  https://css-tricks.com/using-requestanimationframe/
            li
                i CSS3 @media Rule.
                |  (2016). Retrieved from
                a(href='http://www.w3schools.com/cssref/css3_pr_mediaquery.asp')
                    |  http://www.w3schools.com/cssref/css3_pr_mediaquery.asp
            li
                i Google Fonts Roboto
                |  (2016). Retrieved from
                a(href='https://www.google.com/fonts/specimen/Roboto')
                    |  https://www.google.com/fonts/specimen/Roboto
            li
                | Heilmann, C. (2010, April 20). Seven JavaScript Things I Wish I knew Much Earlier In My Career. Retrieved from
                a(href='https://www.smashingmagazine.com/2010/04/seven-javascript-things-i-wish-i-knew-much-earlier-in-my-career/')
                    |  https://www.smashingmagazine.com/2010/04/seven-javascript-things-i-wish-i-knew-much-earlier-in-my-career/
            li
                | Herman, M. (2015, January 31). User Authentication With Passport and Express 4. Retrieved from
                a(href='http://mherman.org/blog/2015/01/31/local-authentication-with-passport-and-express-4/')
                    |  http://mherman.org/blog/2015/01/31/local-authentication-with-passport-and-express-4/
            li
                i HTML Canvas Tutorial.
                |  (2016). Retrieved from
                a(href='http://www.w3schools.com/canvas/default.asp')
                    |  http://www.w3schools.com/canvas/default.asp
            li
                | Ilic, M. (2013, April 17). Slide and Push Menus. Retrieved from
                a(href='http://tympanus.net/codrops/2013/04/17/slide-and-push-menus/')
                    |  http://tympanus.net/codrops/2013/04/17/slide-and-push-menus/
            li
                | Litten, J. (2010, July 10). Understanding save() and restore() for the Canvas Context. Retrieved from
                a(href='http://html5.litten.com/understanding-save-and-restore-for-the-canvas-context/')
                    |  http://html5.litten.com/understanding-save-and-restore-for-the-canvas-context/
            li
                | Kosbie D. (n.d.). Tetris for Intro/Intermediate Programmers. Retrieved from
                a(href='http://www.kosbie.net/cmu/fall-08/15-100/handouts/notes-tetris/TetrisForIntroIntermediateProgrammers.html')
                    |  http://www.kosbie.net/cmu/fall-08/15-100/handouts/notes-tetris/TetrisForIntroIntermediateProgrammers.html
            li
                i Louis CK .net.
                |  (n.d.). Retrieved from
                a(href='https://louisck.net/')
                    |  https://louisck.net/
            li
                | Mardan, A. (2015, April 14). To Engineers Who Tried to Use Jade Template Engine and Can’t Get Started. Retrieved from
                a(href='http://webapplog.com/jade/')
                    |  http://webapplog.com/jade/
            li
                | Marlow G. (2015, May 8). Canvas Game Programming. Retrieved from
                a(href='https://codepen.io/mgmarlow/post/canvas-game-programming')
                    |  https://codepen.io/mgmarlow/post/canvas-game-programming
            li
                | Pics of Money. (2013, April 7).
                i AUSTRALIAN MONEY NOTES.
                |  Retrieved from
                a(href='http://picturesofmoney.org/australian-money-notes/')
                    |  http://picturesofmoney.org/australian-money-notes/
            li
                i requestAnimationFrame
                |  (n.d.). Retrieved from
                a(href='http://creativejs.com/resources/requestanimationframe/')
                    |  http://creativejs.com/resources/requestanimationframe/
            li
                i
                    | What does “var FOO = FOO || {}” (assign a variable or an empty object to that variable) mean in Javascript?
                |  (2011, June 22). Retrieved from
                a(href='http://stackoverflow.com/questions/6439579/what-does-var-foo-foo-assign-a-variable-or-an-empty-object-to-that-va')
                    |  http://stackoverflow.com/questions/6439579/what-does-var-foo-foo-assign-a-variable-or-an-empty-object-to-that-va
            li
                i Tetris.
                |  (2016). Retrieved from
                a(href='http://tetris.com/about-tetris/')
                    |  http://tetris.com/about-tetris/
            li
                i Tetris GuideLine - Tetris Wiki
                |  (n.d.). Retrieved from
                a(href='http://tetris.wikia.com/wiki/Tetris_Guideline')
                    |  http://tetris.wikia.com/wiki/Tetris_Guideline
            li
                i Twitter Buttons | About.
                |  (2016). Retrieved from
                a(href='https://about.twitter.com/resources/buttons')
                    |  https://about.twitter.com/resources/buttons
