//
   Created by Pradyumn on 27/05/2016.
extends layout
block content
    section#register.textBox.regText
        form(action='/register' method='post')
            h1 Register
            p Time to climb the corporate ladder using white collar crime!
                //  name refers to the mongoose user fields
                br
                input#username(type='text', name='username', placeholder='Employee Name')
                br
                input#password(type='password', name='password', placeholder='Password')
                br
                button(type='submit' value='Log in') Register