//
   Created by Pradyumn on 23/05/2016.
extends layout
block content
    section#flavourText.textBox.regText
        h1 Rules and Scoring
        p
            | The objective of the game is to fill rows with blocks to score points.
        h2
            | Control Scheme
        ul
            li
                | Press "ENTER" to start the game.
            li
                | Press "SPACE" to pause and un-pause the game.
            li
                | Blocks will enter the field of play one at a time.
            li
                | Blocks descend at a set interval until they encounter the bottom of the field
                | or they encounter another block.
            li
                | Blocks cannot move up but the player can hasten their
                | descent by pressing "S".
            li
                | The player can move a block left (press "A") or right (press "D")
            li
                | Blocks can be rotated (press "W") in a clockwise fashion to reposition.
        h2
            | Scoring
        ul
            li
                | Blocks that finish their descent score 10 points.
            li
                | If an entire row is filled with blocks (cash) the line disappears from
                | public record to the offshore account, scoring 100 points bonus points.
            li
                | If 2 or 3 lines are completed simultaneously, score 200 points and 300 bonus
                | points respectively.
            li
                | If the maximum possible lines (4) are filled simultaneously, score 800 bonus
                | points.
            li
                | Scoring 2 consecutive max (4) line clears results in a bonus of 1200 points!
