
extends layout
block content
    block content
        form(method="post" action="/create")
            label(for="comment") Comment:
            input(type="text", name="comment", value=comment)
            input(type="submit", value="save")
        br
        h2
            Comments
        for comment in comments
            p= comment.comment