
extends layout
block content
    block content
        section#login.textBox.regText
            form(method="post" action="/create")
                div
                    label(for="comment") Comment:
                    input(type="text", name="comment", value=comment)
                div
                    input(type="submit", value="save")
            br

        h2
            Comments
        p#CommentsContainer
            each comment in comments
                p#CommentHolder
                    p #{comment.username} : #{comment.comment}
                    br