extends layout
block content
    section#login.textBox.regText
        h1 Login
        p Try and get that promotion by showing off how much cash you've stashed!
        br
        form(role='form', action='/login' method='post')
            div
                //label Username:
                input(type='text' name='username' placeholder='Employee Name')
            div
                //label Password:
                input(type='password' name='password' placeholder='password')
            div
                button(type='submit' value='Log in') Log In
                &nbsp;&nbsp;&nbsp;
                a(href='/')
                    button(type='button') Cancel

